data/
venv/
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/
.DS_Store
pyvenv.cfg
models/
results/
*.pkl
evidently_drift_report.html
data/db/
scorecard_dbt/target/
scorecard_dbt/logs/
scorecard_dbt/dbt_packages/
